.FilmDetail {
    background-color: var(--background-color);
    min-height: calc(100vh - 56px);
}

.FilmDetail .FilmDetail__film__header{
    width: 100%;
}

.FilmDetail__film__content {
    width: 100;
}