:root {
    --background-color: #3b3434;
    --primary-color: #dec0a7;
    --title-background-color-light: rgba(222, 192, 167, 0.8);
    --title-background-color-dark: rgba(59, 52, 52, 0.85);
    --text-color: #ffffff;
}