@import '../theme/theme.css';

.detail-page {
    background-color: var(--background-color);
    min-height: calc(100vh - 65px);
    color: rgba(255, 255, 255, 0.7);
}

.detail-page .detail-page__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.detail-page .detail-page__wrapper .detail-page__header {
    width: 100%;
}

.detail-page .detail-page__wrapper .detail-page__content {
    width: 100%;
    max-width: 1024px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 32px;
    padding-top: 32px;
    box-sizing: border-box;
    text-align: left;
}