.DetailPageSkeleton {
   display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}
.DetailPageSkeleton .DetailPageSkeleton__content {
    max-width: 1024px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 32px;
    padding-top: 32px;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
}

.DetailPageSkeleton .DetailPageSkeleton__content section {
    margin-bottom: 32px;
}